
body {
    background-color: #f1f1f1;
}

.navbar {
    padding: 25px !important;
}

.navbar .navbar-brand {
    font-size: 20px !important;
    color: #ffffff;
}

.navbar .navbar-nav .nav-link {
    font-size: 20px !important;
    color: #ffffff;
}